<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crianza de Dinosaurios</title>
</head>
<body>

<h2>Dinosaurios en Crianza</h2>

<div>
  <h3>Dinosaurios:</h3>
  <ul>
    <th:block th:each="dinosaurio : ${dinosaurios}">
      <li>
        <span th:text="${dinosaurio.nombre}"></span>
        <form th:action="@{/crianza/asignar}" method="post">
          <input type="hidden" name="id" th:value="${dinosaurio.id}" />
          <button type="submit">Asignar Isla</button>
        </form>
      </li>
    </th:block>
  </ul>
</div>

<a href="/principal/list" class="btn btn-secondary">Volver</a>

</body>
</html>
