<!DOCTYPE html>
<html lang="es" xmlns:c="https://jakarta.ee/xml/ns/jakartaee">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Dinosaurios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>Lista de Islas</h1>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Listado</th>
    </tr>
    </thead>
    <tbody>
    <c:forEach var="isla" items="${isla}">
        <tr>
            <td>${isla.nombre}</td>
            <td>${isla.tipo}</td>
            <td>${isla.listado}</td>
        </tr>
    </c:forEach>
    </tbody>
</table>

<div>
    <a href="/principal/salir">Salir del parque</a>
    <a href="/principal/nacer">Gestionar crias</a>
    <a href="/principal/terminar">Terminar día</a>

</div>
</body>
</html>
