<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceso Restringido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="display-4">Error 403: Acceso Restringido</h1>
    <p class="lead">No tienes permiso para acceder a esta página.</p>
    <a th:href="@{/evento/volver}" class="btn btn-secondary mt-3">Volver al listado</a>
</div>
</body>
</html>
